/* styles.css */
@import url('root-color.css');

.callout {
    transition: transform 0.2s;
}

.callout:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


/* SOBRESCRITA COR BOOTSTRAP */
.callout.callout-danger {
    border-left-color: var(--red);
}

.callout.callout-success {
    border-left-color: var(--green-ligth);
}

.btn-success {
    background: var(--green-ligth);
}

.page-link{
    color:var(--purple-300);
    font-weight: bold;
}

.page-item.active .page-link{
    background:var(--purple-300);
    border-color:var(--purple-300);
    font-weight: bold;
}

/* FIM */

.badge-small-danger {
    background: var(--red) !important;
    color: white;
}

.badge-small-success {
    background: var(--green-ligth);
    color: white;
}
.badge-small-purple{
    background:var(--purple-300);
    color:white;
}

/* STYLE PROGRESS BAR */
.skill-box {
    width: 100%;
    margin-bottom: 1.7rem;
}

.skill-box .title {
    display: block;
    font-size: 14px;
    font-weight: bold;
    color: #333;
}

.skill-box .skill-bar {
    height: 8px;
    border-radius: 6px;
    width: 100%;
    background: rgba(0, 0, 0, 0.1);
}

.skill-bar .skill-per {
    position: relative;
    display: block;
    height: 100%;
    border-radius: 6px;
    background: var(--purple-900);
    animation: progress 1s ease-out forwards;
    opacity: 0;
}
.animate-from-top {
    animation: slideFromTop 0.5s ease-out;
}

/* ANIMAÇÕES */
@keyframes progress {
    0% {
        width: 0;
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes slideFromTop {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.skill-per .tooltip-per {
    position: absolute;
    right: -22px;
    top: 14px;
    font-size: 12px;
    font-weight: bold;
    padding: 2px 6px;
    border-radius: 3px;
    color: white;
    background: var(--purple-900);
    z-index: 1;
}

.tooltip-per::before {
    content: "";
    position: absolute;
    top: -2px;
    height: 10px;
    width: 10px;
    z-index: -1;
    background: var(--purple-900);
    transform: translateX(20%) rotate(45deg);
}
